

@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form id="newOrder">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Dish</label>
        <div class="tt-container">
            <input id="dish" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="dishes" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    <script>
        $(document).ready(function () {
            var vm = {
                dishIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });
            var dishes = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/dishes?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#dish').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'dishes',
                display: 'name',
                source: dishes
            }).on("typeahead:select", function (e, dish) {
                $("#dishes").append("<li class='list-group-item'>" + dish.name + "</li>");
                $("#dish").typeahead("val", "");
                vm.dishIds.push(dish.id);
            });
            $("#newOrderl").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/newOrders",
                    method: "post",
                    data: vm
                })
                    .done(function () {
                        console.log("done");
                    })
                    .fail(function () {
                    });
            });
        });
    </script>
}