@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

        <div class="text-box">
            <h1>Moldova's first home food shop</h1>
            <p>Покупка домашней еды станет намного легче с нашим сайтом бла-бла-бла</p> <!--если надо будет добавить лайн брейк то использовать <br>-->
            <a href="" class="hero-btn">Visit us to know more</a>
        </div>
    

    <!--course-->
    <section class="course">
        <h1>Что вы можете найти на нашем сайте</h1> <!---было так    Courses we offer-->
        <p>Kakaya-to vajnaya</p>
        <div class="row">
            <div class="course-col">
                <h3>Intermediate</h3>
                <p>Еще много надписей</p>
            </div>
            <div class="course-col">
                <h3>Degree</h3>
                <p>Еще много надписей</p>
            </div>
            <div class="course-col">
                <h3>Postgrraduation</h3>
                <p>Еще много надписей</p>
            </div>
        </div>
    </section>

    <!--campus----->
    <section class="campus">
        <h1>Our global campus</h1>
        <p>dfgyjhufgcfxgahdt</p>
        <div class="row">
            <div class="campus-col">
                <img src="~/images/food1.JPG"> <!---ZAMENIT-->
                <div class="layer">
                    <h3>eda1</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="~/images/food2.JPG"> <!---ZAMENIT-->
                <div class="layer">
                    <h3>eda2</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="~/images/food3.JPG"> <!---ZAMENIT-->
                <div class="layer">
                    <h3>eda3</h3>
                </div>
            </div>
        </div>
    </section>

    <!--facilities-->
    <section class="facilities">
        <h1>Our facilities</h1>
        <p>dfrdfjkhghfgfhd</p>
        <div class="row">
            <div class="facilities-col">
                <img src="~/images/foodnvase.JPG">
                <h3>World class library</h3>
                <p>fdgfjgbjkdsgsdkb</p>
            </div>
            <div class="facilities-col">
                <img src="~/images/—Pngtree—valentine's day 3d stereo love_5670923.png">
                <h3>largest lksdfhjgljs</h3>
                <p>fdgfjgbjkdsgsdkb</p>
            </div>
            <div class="facilities-col">
                <img src="~/images/foodnvase.JPG">
                <h3>World class library</h3>
                <p>fdgfjgbjkdsgsdkb</p>
            </div>
        </div>

        <!--testimonials можно вставить наши с артемом фотки))))-->
        <section class="testimonials">
            <h1>What our strejsakdfksb</h1>
            <p>jljfdgnjksdg</p>
            <div class="row">
                <div class="testimonials-col">
                    <img src="~/images/banner.png">
                    <div>
                        <p>jlkfghjkdhgjksdkgh</p>
                        <h3>LIZA Users name skjgfhskdgk</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <!--иконки не отображаются -->
                    </div>
                </div>
                <div class="testimonials-col">
                    <img src="~/images/banner.JPG">
                    <div>
                        <p>jlkfghjkdhgjksdkgh</p>
                        <h3>ARTEM Users name skjgfhskdgk</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <!--иконки не отображаются -->
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!--Call to action-->
    <section class="cta">
        <h1>Enroll for our <br> ssjdhfkjdshgkh</h1>
        <a href="" class="hero-btn">CONTACT US</a>
    </section>

    <!--footer-->


