@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<body>
    <section class="home">
        <div class="text-box">
            <h1>Moldova's first home food shop</h1>
            <p>Покупка домашней еды станет намного легче с нашим сайтом</p> <!--если надо будет добавить лайн брейк то использовать <br>-->
            <a href="/" class="hero-btn">Visit us to know more</a>
        </div>
    </section>
    <!--course-->
    <section class="course">
        <h1>Что вы можете найти на нашем сайте</h1> <!---было так    Courses we offer-->
        <p>Какая-то информация</p>
        <div class="row">
            <div class="course-col">
                <h3>ЕДА</h3>
                <p>Еще много надписей</p>
            </div>
            <div class="course-col">
                <h3>ЕЩЕ ЕДА</h3>
                <p>Еще много надписей</p>
            </div>
            <div class="course-col">
                <h3>ЕЩЕ НЕМНОГО ЕДЫ</h3>
                <p>Еще много надписей</p>
            </div>
        </div>
    </section>

    <!--campus----->
    <section class="campus">
        <h1>Наши лучшие предложения</h1>
        <p>Попробуй самые популярные блюда этой недели!</p>
        <div class="row">
            <div class="campus-col">
                <img src="/images/zakuska1.png"> 
                <div class="layer">
                    <h3>eda1</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/images/zakuska2.png"> 
                <div class="layer">
                    <h3>eda2</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/images/zakuska3.png"> 
                <div class="layer">
                    <h3>eda3</h3>
                </div>
            </div>
        </div>
    </section>

    <!--facilities-->
    <section class="facilities">
        <h1>Наши преимущества</h1>
        <p>dfrdfjkhghfgfhd</p>
        <div class="row">
            <div class="facilities-col">
                <img src="~/images/foodnvase.JPG">
                <h3>Вкусная домашняя еда</h3>
                <p>Каждое блюдо готовиться с любовью</p>
            </div>
            <div class="facilities-col">
                <img src="~/images/foodnvase.JPG">
                <h3>Большой выбор блюд</h3>
                <p>На нашем сайте вы сможете выбрть блюдо на свой вкус</p>
            </div>
            <div class="facilities-col">
                <img src="~/images/foodnvase.JPG">
                <h3>Лучшие предложения</h3>
                <p>Каждую неделю обновляется список лучших блюд</p>
            </div>
        </div>

        <!--testimonials можно вставить наши с артемом фотки))))-->
        <section class="testimonials">
            <h1>Какой-то текст</h1>
            <p>Какой-то маленький текст</p>
            <div class="row">
                <div class="testimonials-col">
                    <img src="~/images/user2.png">
                    <div>
                        <p>Лиза говорит, что:</p>
                        <h3>Моя жизнь стала лучше, когда я начала покупать домашнюю еду на этом сайте</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <!--иконки не отображаются -->
                    </div>
                </div>
                <div class="testimonials-col">
                    <img src="~/images/user.png">
                    <div>
                        <p>Артем рассказывает:</p>
                        <h3>Моя бабушка готовит вкусные пироги, но их всегда слишком много, поэтому я зарегистрировал ее на этом и она может продавать их и не перекармливать нас</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <!--иконки не отображаются -->
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!--Call to action-->
    <section class="cta">
        <h1>Enroll for our <br> ssjdhfkjdshgkh</h1>
        <a href="/" class="hero-btn">CONTACT US</a>
    </section>

</body>
<!--footer-->
