@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Order</h2>

<form id="newOrder">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="form-group">
        <label>Dish</label>
        <div class="tt-container">
            <input id="dish" name="dish" data-rule-atLeastOneDish="true" type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="dishes" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

<link href="~/Content/style.css" rel="stylesheet" />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var vm = {
                dishIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            var dishes = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/dishes?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#dish').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'dishes',
                display: 'name',
                source: dishes
            }).on("typeahead:select", function (e, dish) {
                var dishItem = "<li class='list-group-item'>" + dish.name + "<span class='remove-dish'>&times;</span></li>";
                $("#dishes").append(dishItem);
                $("#dish").typeahead("val", "");
                vm.dishIds.push(dish.id);
            });

            $(document).on("click", ".remove-dish", function () {
                var index = $(this).parent().index();
                vm.dishIds.splice(index, 1);
                $(this).parent().remove();
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("atLeastOneDish", function () {
                return vm.dishIds.length > 0;
            }, "Please select at least one dish.");

            var validator = $("#newOrder").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newOrders",
                        method: "post",
                        data: vm
                    })
                        .done(function () {
                            toastr.success("Order successfully recorded.");
                            $("#customer").typeahead("val", "");
                            $("#dish").typeahead("val", "");
                            $("#dishes").empty();
                            vm = { dishIds: [] };
                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.error("Something unexpected happened.");
                        });
                    return false;
                }
            });
        });
    </script>
}
