@model IEnumerable<DelishMe.Web.Models.Dish>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("New Dish", "New", "Dishes", null, new { @class = "btn btn-primary" })
</p>

<h2>Dishes</h2>
<table id="dishes" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dish</th>
            <th>Category</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />

    <script>
        $(document).ready(function () {
            var table = $("#dishes").DataTable({
                ajax: {
                    url: "/api/dishes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, dish) {
                            return "<a href='/dishes/edit/" + dish.id + "'>" + dish.name + "</a>";
                        }
                    },
                    {
                        data: "category.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-dish-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#dishes").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this dish?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/dishes/" + button.attr("data-dish-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
